* {
   padding: 0;
   margin: 0;
   border: none;
   font-size: 100%;
   outline: none;
   font-weight: 570;
   box-sizing: border-box;
   font-family: 'Roboto Slab', serif;
}
h1{
	font-size: 35px;
	text-align: center;
	font-weight: bold;
}
h2{
	font-size: 30px;

}
@media(max-width: 768px){
	h2{
		font-size: 25px;
	}
}
p{
	font-size: 16px;
	color: #646464;
}
a{
	text-decoration: none;
	color: black;
}
button{
	width: 190px;
	height: 50px;
	margin-top: 25px;
	border-radius: 20px;
	background-color: rgb(0,0,255, 0.5);
}
img{
	width:170px;
	height: 180px;
}
@media(max-width: 768px){
	img{
		width: 110px;
	    height: 120px;
	    align-self: center;
	    overflow: hidden;
	    margin-right: 15px;
	}
}
nav{
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	padding: 20px;
}
.icon__nav{
	width: 30px;
	height: 30px;
}
.products{
	display: flex;
	width: 100%;
	height: 40vh;
	margin: 10px;
	justify-content: space-between;
	align-items: center;
}
@media(max-width: 768px){
	.products{
		width: auto;
		height: auto;
		flex-direction: column;
	}
}
.products__item{
	display: flex;
	width: 30%;
	border-radius: 10px;
	overflow: hidden;
	justify-content: space-between;
	padding: 5px;

}
@media(max-width: 768px){
	.products__item{
		width: 90%;
		margin: 10px;
		justify-content: center;
		box-shadow: 1px 2px 6px 4px rgba(0, 0, 0, 0.1);
	}
}
.item__yellow{
	background-color: rgba(253,255,189);
}
@media(max-width: 768px){
	.item__yellow{
		align-self: flex-start;
		margin-left: -10px;
	}
}
.item__blue{
	background-color: rgba(135,206,250,0.8);
}
@media(max-width: 768px){
	.item__blue{
		align-self: flex-end;
		margin-right: -7px;
	}
}
.item__pink{
	background-color: rgba(255,228,225);
}
@media(max-width: 768px){
	.item__pink{
		align-self: flex-start;
		margin-left: -10px;
	}
}
.products__description{
	width: 50%;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.products__icon{
	width: 50px;
	height: 4px;
	margin: 10px;
}
.icon__yellow{
	background-color: yellow;
}
.icon__blue{
	background-color: blue;
}
.icon__red{
	background-color: red;
}
.container__sale{
	display: flex;
	padding: 10px;
	justify-content: center;
}
.products__sale{
	display: flex;
	width: 350px;
	height: 80vh;
	background-color: rgba(253,255,189);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
}
@media(max-width: 768px){
	.products__sale{
		background-color: white;
	}
}
.products__saleP{
	margin-top: 20px;
	margin-bottom: 20px; 
	width: 300px;
}
.products__saleImage{
	margin-top: 30px;
}

